S3method(autoplot,bootMA)
S3method(autoplot,sobelMA)
S3method(coef,bootMA)
S3method(coef,sobelMA)
S3method(confint,bootMA)
S3method(confint,sobelMA)
S3method(fortify,bootMA)
S3method(fortify,sobelMA)
S3method(plot,bootMA)
S3method(plot,sobelMA)
S3method(print,bootMA)
S3method(print,sobelMA)
S3method(print,summaryMA)
S3method(retest,bootMA)
S3method(retest,sobelMA)
S3method(summary,bootMA)
S3method(summary,sobelMA)
export(covHuber)
export(covHuber.control)
export(mediate)
export(retest)
import(ggplot2)
